// Format

body {
  background-color: #000;
}

.main-grid {
  display: grid;
  grid-template-rows: auto 4fr auto auto 3fr auto;
  grid-template-areas: "nav" "mission" "tea" "locations" "contact" "footer";
}
// Home Page
nav {
  grid-area: nav;
  background: black;

  a {
    color: #fff;
    position: relative;
  }

  a.logo-link {
    margin-left: auto;
  }
}

#mission {
  grid-area: mission;
  background-image: url("../img/mission-background.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .mission-container {
    margin-top: 400px;
    width: 100%;
    padding: 2rem;
    background-color: rgba(0,0,0,0.8);

    h2,
    h4 {
      color: #fff;
      text-align: center;
    }
  }
}

#tea {
  grid-area: tea;

  .tea-header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-self: center;

    h2,
    h4 {
      text-align: center;
    }
  }

  .tea-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }

  .tea-container {
    margin: 3rem;
    display: flex;
    flex-flow: column wrap;
    text-align: center;

    .tea-box {
      position: relative;
      width: 100%;
    }

    img {
      display: block;
      height: auto;
      width: 300px;
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .tea-overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      top: 50%;
      left: 50%;
    }

    :hover .img-fluid {
      opacity: 0.3;
    }

    :hover .tea-overlay {
      opacity: 1;
    }

    .tea-overlay-text {
      background-color: #343a40;
      color: white;
      font-size: 16px;
      padding: 8px 28px;
      border-radius: 15px;
    }

    h4 {
      color: #fff;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#locations {
  grid-area: locations;
  background-image: url("../img/location-background.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .dark-overlay {
    position: absolute;
    width: 100%;
    height: 1000px;
    background: rgba(0,0,0,0.5);
  }

  .locations-header {
    margin-top: 300px;
    margin-bottom: 3rem;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-self: center;

    h2 {
      text-align: center;
    }
  }

  .locations-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;

    :hover {
      background: #000;
      border-radius: 20px;
    }
  }

  .location-container {
    padding: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;

    h5,
    p {
      color: #fff;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#contact {
  grid-area: contact;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;

  .card {
    height: 100%;
  }

  .contact-icons {
    display: flex;
    justify-content: space-between;

    a {
      color: #343a40;
    }
  }
}

footer {
  grid-area: footer;
  display: inline-flex;
  justify-content: space-between;

  .branding,
  .copyright {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #6c757d;
  }
}
// Media Queries
@media screen and (max-width: 982px) {
  #locations .locations-header {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  #tea .tea-header {
    margin-top: 1rem;
  }

  #locations .location-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .topBottomOut .nav-link:after,
  .topBottomOut .nav-link:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  .topBottomOut .nav-link:before {
    top: 0;
    transform: translateY(10px);
  }

  .topBottomOut .nav-link:after {
    bottom: 0;
    transform: translateY(-10px);
  }

  .topBottomOut .nav-link:hover:after,
  .topBottomOut .nav-link:hover:before {
    opacity: 1;
    transform: translateY(0px);
  }
}
