// Format

body {
  background-color: #343a40;
}

.main-grid {
  display: grid;
  grid-template-rows: auto 2fr auto auto;
  grid-template-areas: "nav" "header" "tea" "footer";
}

// Tea Page

nav {
  grid-area: nav;
  background: #000;

  a {
    color: #fff;
    position: relative;
  }
}

#header {
  grid-area: header;
  background-image: url("../img/tea-background.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;

  .header-container {
    margin-top: 11rem;
    width: 100%;
    padding: 2rem;
    background-color: rgba(0,0,0,0.6);

    h2,
    h4 {
      color: #fff;
      text-align: center;
    }
  }
}

#tea {
  grid-area: tea;
  display: flex;
  flex-flow: column wrap;

  .tea-inner-container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }

  .individual-tea {
    display: flex;
    justify-content: space-around;

    .tea-box {
      position: relative;
      width: 500px;
    }

    img {
      display: block;
      height: 100%;
      width: 500px;
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
      border-color: #808080;
      border-style: solid;
      border-radius: 10px;
    }

    .tea-overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      top: 50%;
      left: 50%;
    }

    :hover .img-fluid {
      opacity: 0.3;
    }

    :hover .tea-overlay {
      opacity: 1;
    }

    .tea-overlay-text {
      background-color: rgba(255,0,0,0.6);
      color: white;
      font-size: 16px;
      padding: 8px 28px;
      border-radius: 15px;
    }

    .tea-description {
      color: #fff;
      background-color: rgba(0,0,0,0.6);
      width: 500px;
      text-align: center;
      padding: 2rem;
      border-color: #808080;
      border-style: solid;
      border-radius: 10px;

      h4,
      p {
        margin: 2rem;
      }
    }
  }
}

#footer {
  grid-area: footer;
  background-color: #000;
  display: inline-flex;
  justify-content: space-between;

  .branding,
  .copyright {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #6c757d;
  }
}

// Media Queries
@media screen and (max-width: 982px) {
  #tea .individual-tea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .topBottomOut .nav-link:after,
  .topBottomOut .nav-link:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  .topBottomOut .nav-link:before {
    top: 0;
    transform: translateY(10px);
  }

  .topBottomOut .nav-link:after {
    bottom: 0;
    transform: translateY(-10px);
  }

  .topBottomOut .nav-link:hover:after,
  .topBottomOut .nav-link:hover:before {
    opacity: 1;
    transform: translateY(0px);
  }
}
